@import "~bootstrap/scss/bootstrap";

// *******************************general reset******************************* 

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
// ***********************************header*********************************** 
header{
  .bg-my-blue{
    background-color: #0282f9;
    .additional-links{
      display: flex;
      flex-direction: row-reverse;
      a{
        color: white;
        padding: 1.2rem;
      }
  
    }
  }

  ul li a{
    padding: 0 1.3rem;
  }

}
  
// *********************************jumbotron********************************* 

.jumbotron {
  height: 70vh;
}


// ************************************main************************************ 

.main-home{
  background-color: #1c1c1c;
  color: white;
  .current-series{
    position: absolute;
    background-color: #0282f9;
    padding: 0.5rem 1.5rem;
    
    transform: translate(-0.7rem, -1.5rem);
    
    span{
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }
  h5{
    color: white;
  }
  
  .max-height{
    height: 100%;
  }

  .load{
    text-align: center;
    padding-top: 1.2rem;
    span{
      background-color: #0282f9;
      color: white;
      padding: 0.3rem 2.5rem;
    }
  }
}

.link-merch-back{
  background-color: #0282f9;
    
  .link-merch {
    color: white;
    gap: 1.4rem;

    .col-link {
      width: calc(100% / 5);
      align-items: center;
      padding: 2.5rem 0;
      
      .img-link {
        width: 20%;
      }

      .text-link {
        padding-left: 20px;
      }
    }
  }
}


.detail-comic{
  
  .back-blue{
    background-color: #0282f9;
    height: 6rem;
    .comic-photo{
      position: absolute;
      transform: translate(00, -15.5rem);
    }
  }
}

.text-box-green{
  background-color: #55ba59;
}