@import "~bootstrap/scss/bootstrap";

.jumbotron {
    height: 80vh;
}

header{
    div{

        ul{


            li{
                text-decoration: none;
            }
        }
    }

}

main{
    background-color:black;

    .max-height{
        height: 100%;
    }

    h5{
        color: white;
    }
}